*{
    margin: 0;
    padding: 0;
}
body{
    background: #eee;
}
h1{
    text-align: center;
    user-select: none;
}
h2{
    text-align: center;
    user-select: none;
}
.input-row{
    width: 100vw;
    bottom: 15px;
    display: flex;
    justify-content: center;
    position: fixed;
    flex-flow: row wrap;
}

.input-row > button{
    margin: 10px 50px 0;
    width: calc(50% - 45px);
    min-width: 300px;
    font-size: 15px;
    height: 40px;
}

.input-row > .input-group{
    width: calc(50vw / 2 - 30px);
    min-width: 142.5px;
    margin: 0 7.5px;
    height: 40px;
}

.input-row > .input-group > input{
    height: 100%;
    font-size: 25px;
}
.input-row > .input-group > input::-webkit-outer-spin-button,
.input-row > .input-group > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input-row > .input-group > span{
    width: 3em;
    font-size: 15px;
    user-select: none;
}